<div class="main">
  <form [formGroup]="addressForm" class="form">
    <tui-input
      formControlName="addressValue"
      tuiTextfieldIcon="tuiIconSearchLarge"
      placeholder="Город, улица, дом"
      [tuiTextfieldCleaner]="true"
    >
      Ваш адрес
      <input placeholder="Город, улица, дом" tuiTextfield />
      <tui-data-list-wrapper
        *tuiDataList
        [emptyContent]="content"
        size="xs"
        [items]="addressArrString"
      ></tui-data-list-wrapper>
    </tui-input>
  </form>
  <br />
  <div class="list">
    <app-department-list
      [departmentList]="this.mapService.departmentListText | async"
    />
  </div>
</div>

<ng-template #content>
  <tui-loader [showLoader]="true"></tui-loader>
</ng-template>
